@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-primary-10: #fff8f6;
  --color-primary-20: #ffe4e2;
  --color-primary-30: #ffc9c6;
  --color-primary-40: #ff9b99;
  --color-primary-50: #ec2327;
  --color-primary-60: #c91519;
  --color-primary-70: #a60f12;
  --color-primary-80: #850a0d;
  --color-primary-90: #520507;
  --color-secondary-10: #f4f6f8;
  --color-secondary-20: #e3e7ed;
  --color-secondary-30: #c1c9d6;
  --color-secondary-40: #9aa7b8;
  --color-secondary-50: #748599;
  --color-secondary-60: #526375;
  --color-secondary-70: #384859;
  --color-secondary-80: #2c3e50;
  --color-secondary-90: #1a2530;
  --color-error-10: #fef2f2;
  --color-error-20: #fee2e2;
  --color-error-30: #fecaca;
  --color-error-40: #f87171;
  --color-error-50: #ef4444;
  --color-error-60: #dc2626;
  --color-error-70: #b91c1c;
  --color-error-80: #991b1b;
  --color-error-90: #7f1d1d;
  --color-warning-10: #fffbeb;
  --color-warning-20: #fef3c7;
  --color-warning-30: #fde68a;
  --color-warning-40: #fcd34d;
  --color-warning-50: #f59e0b;
  --color-warning-60: #d97706;
  --color-warning-70: #b45309;
  --color-warning-80: #92400e;
  --color-warning-90: #78350f;
  --color-blue-10: #eff6ff;
  --color-blue-20: #dbeafe;
  --color-blue-30: #bfdbfe;
  --color-blue-40: #60a5fa;
  --color-blue-50: #3b82f6;
  --color-blue-60: #2563eb;
  --color-blue-70: #1d4ed8;
  --color-blue-80: #1e40af;
  --color-blue-90: #1e3a8a;
  --color-green-10: #f0fdf4;
  --color-green-20: #dcfce7;
  --color-green-30: #86efac;
  --color-green-40: #4ade80;
  --color-green-50: #22c55e;
  --color-green-60: #16a34a;
  --color-green-70: #15803d;
  --color-green-80: #166534;
  --color-green-90: #14532d;
  --color-gray-02: #faf9f8;
  --color-gray-05: #f5f4f2;
  --color-gray-10: #ebe9e6;
  --color-gray-20: #dad6d2;
  --color-gray-30: #bdb9b5;
  --color-gray-40: #9e9a96;
  --color-gray-50: #7f7b77;
  --color-gray-60: #615e5a;
  --color-gray-70: #45423e;
  --color-gray-80: #2b2927;
  --color-gray-90: #141312;
}
