@import 'tailwindcss';

@theme {
  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Primary */
  --color-primary-10: #091131;
  --color-primary-20: #17234e;
  --color-primary-30: #344176;
  --color-primary-40: #5a6595;
  --color-primary-50: #727ca4;
  --color-primary-60: #9da4bf;
  --color-primary-70: #c6cadb;
  --color-primary-80: #e2e4ee;
  --color-primary-90: #f5f5fa;

  /* Secondary */
  --color-secondary-10: #390405;
  --color-secondary-20: #590a0b;
  --color-secondary-30: #910f11;
  --color-secondary-40: #cb1518;
  --color-secondary-50: #ed373a;
  --color-secondary-60: #f56769;
  --color-secondary-70: #fea8a9;
  --color-secondary-80: #fedcdd;
  --color-secondary-90: #fff3f3;

  /* Error (Warning/Yellow) */
  --color-error-10: #332803;
  --color-error-20: #645110;
  --color-error-30: #b48f0c;
  --color-error-40: #ebbb13;
  --color-error-50: #ffd231;
  --color-error-60: #ffdc5f;
  --color-error-70: #ffe68f;
  --color-error-80: #fff0ba;
  --color-error-90: #fffae9;

  /* Blue */
  --color-blue-10: #081544;
  --color-blue-20: #102263;
  --color-blue-30: #152e8a;
  --color-blue-40: #2246c5;
  --color-blue-50: #2857ff;
  --color-blue-60: #4c73ff;
  --color-blue-70: #809cff;
  --color-blue-80: #b3c4ff;
  --color-blue-90: #e6ecff;

  /* Green */
  --color-green-10: #082c1b;
  --color-green-20: #084b2b;
  --color-green-30: #0b6f3f;
  --color-green-40: #0d9855;
  --color-green-50: #08bb65;
  --color-green-60: #41cc89;
  --color-green-70: #7adaac;
  --color-green-80: #afeed1;
  --color-green-90: #e7fbf1;

  /* Gray */
  --color-gray-10: #20232b;
  --color-gray-20: #30343e;
  --color-gray-30: #424753;
  --color-gray-40: #5c6270;
  --color-gray-50: #79808f;
  --color-gray-60: #8e95a4;
  --color-gray-70: #a7adb9;
  --color-gray-80: #c0c5cf;
  --color-gray-90: #d5d9e2;
  --color-gray-95: #e6e9ef;
  --color-gray-98: #f2f3f7;
}
