@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-primary-10: #f5f5fa;
  --color-primary-20: #e2e4ee;
  --color-primary-30: #c6cadb;
  --color-primary-40: #9da4bf;
  --color-primary-50: #727ca4;
  --color-primary-60: #5a6595;
  --color-primary-70: #344176;
  --color-primary-80: #17234e;
  --color-primary-90: #091131;
  --color-secondary-10: #fff3f3;
  --color-secondary-20: #fedcdd;
  --color-secondary-30: #fea8a9;
  --color-secondary-40: #f56769;
  --color-secondary-50: #ed373a;
  --color-secondary-60: #cb1518;
  --color-secondary-70: #910f11;
  --color-secondary-80: #590a0b;
  --color-secondary-90: #390405;
  --color-error-10: #fffae9;
  --color-error-20: #fff0ba;
  --color-error-30: #ffe68f;
  --color-error-40: #ffdc5f;
  --color-error-50: #ffd231;
  --color-error-60: #ebbb13;
  --color-error-70: #b48f0c;
  --color-error-80: #645110;
  --color-error-90: #332803;
  --color-blue-10: #e6ecff;
  --color-blue-20: #b3c4ff;
  --color-blue-30: #809cff;
  --color-blue-40: #4c73ff;
  --color-blue-50: #2857ff;
  --color-blue-60: #2246c5;
  --color-blue-70: #152e8a;
  --color-blue-80: #102263;
  --color-blue-90: #081544;
  --color-green-10: #e7fbf1;
  --color-green-20: #afeed1;
  --color-green-30: #7adaac;
  --color-green-40: #41cc89;
  --color-green-50: #08bb65;
  --color-green-60: #0d9855;
  --color-green-70: #0b6f3f;
  --color-green-80: #084b2b;
  --color-green-90: #082c1b;
  --color-gray-02: #f2f3f7;
  --color-gray-05: #e6e9ef;
  --color-gray-10: #d5d9e2;
  --color-gray-20: #c0c5cf;
  --color-gray-30: #a7adb9;
  --color-gray-40: #8e95a4;
  --color-gray-50: #79808f;
  --color-gray-60: #5c6270;
  --color-gray-70: #424753;
  --color-gray-80: #30343e;
  --color-gray-90: #20232b;
}
